.sidenav-overlay {
    z-index: 1;
}

.packs {
    border: solid #3899ad 5px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

.titulopack{
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-weight: bold;
}

.ver{
    margin-bottom: 0.2rem;
    margin-top: 0.4rem;
    margin-left: 1rem;
    color: white;
    font-weight: lighter;
}

.conteudopack{
    margin: 1rem;
}

.cor{
    color: #3899ad;
}